<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav elixir-frame-side-nav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar *ngIf="navigation">
      <a routerLink="">
        <mat-icon *ngIf="navigation.logo" svgIcon="logo"></mat-icon>
        <span>{{navigation.title}}</span>
      </a>
    </mat-toolbar>
    <mat-nav-list *ngIf="navigation && routeLoaded">
      <a *ngFor="let item of navigation.menu" mat-list-item routerLink="{{item.path}}" (click)="updateToolbarTitle(item.name)">
        <mat-icon *ngIf="item.icon" aria-hidden="true">{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="navigation && routeLoaded" class="bottom-menu">
      <a *ngFor="let item of navigation.bottomMenu" mat-list-item routerLink="{{item.path}}}">
        <mat-icon *ngIf="item.icon" aria-hidden="true">{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset$ | async" color="primary" class="elixir-frame-content-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="toolbarTitle">{{toolbarTitle}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
