@use "~@material/layout-grid/mdc-layout-grid";
@use "~@angular/material/theming";
@use "~@material/layout-grid/variables";
@use "~@material/layout-grid/mixins";
@use 'sass:map';

.elixir-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .header-buttons {
    margin: 0 0 16px;
  }

  .table-container{
    flex: 0 0 100%;

    table {
      width: 100%;
    }

  }

}
