<form *ngIf="formGroup && formView" [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{formView.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell{{data.size ? '--span-' + data.size: ''}}" *ngFor="let data of formView.data">
            <mat-form-field [ngSwitch]="data.control" class="full-width">
              <mat-label>{{data.label}}</mat-label>
              <input *ngSwitchCase="'textbox'" type="{{data.type}}" matInput formControlName="{{data.name}}" />
              <textarea *ngSwitchCase="'textarea'" matInput formControlName="{{data.name}}"></textarea>
              <mat-select *ngSwitchCase="'dropdown'" formControlName="{{data.name}}">
                <mat-option *ngFor="let option of data.options" [value]="option.value">
                  {{option.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngFor="let fn of formView.actions" mat-raised-button color="{{fn.importance}}">{{fn.label}}</button>
    </mat-card-actions>
  </mat-card>
</form>
